body {
  background-color: black;
  color: #22c55e;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
